@page "/viewUsers"
@using Blazor.Data
@using Blazor.Models
@inject IAddUserService AddUserService
@inject NavigationManager NavigationManager


@if (users == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!users.Any())
{
    <p>
        <em>No user items exist. Please add some.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>User name</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in usersToShow)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Password</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    private IList<User> users;
    private IList<User> usersToShow;
    
    protected override async Task OnInitializedAsync()
    {
        users = await AddUserService.GetUserAsync();
        usersToShow = users;
        
        base.OnInitialized();
        
    }
}